
<div class="jumbotron">
<h1 class="text-center">Burgers to Eat</h1>
</div>
<div class="container">
<div class="row">
<div class="col-sm-4 col-md-4 col-lg-4" border="2px red bold">
{{!-- <ul> --}}
  {{#each burgers}}
    {{!-- <li id="thisBurger"> --}}
      <h4>
        <i class="ionicons ion-knife"></i>{{id}}. {{burger_name}}. {{devoured}}
        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="id" value="{{this.id}}">
          <button type="submit" id="devour" margin="20px" class="btn btn-info">Devour</button>
        </form>
      </h4>
    {{!-- </li> --}}
  {{/each}}
{{!-- </ul> --}}
</div>

<div class="col-sm-4 col-md-4 col-lg-4">
<form class="form-horizontal" method="POST" action="/" class="button-size">
<fieldset>
    <legend class="text-center col-xs-12">Add a Burger</legend>
    <div class="form-group">
        <div class="col-xs-12">
            <input type="text" name="burger" class="form-control" >
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            <button type="submit" class="btn btn-info btn-block">Create a Burger!</button>
        </div>
    </div>
</fieldset>
</form>
</div>
<div id="devouredBurger" class="col-sm-4 col-md-4 col-lg-4">
{{!-- <ul> --}}
  {{#each devoured_burgers}}
    {{!-- <li id="thisDevouredBurger"> --}}
      <p>
        {{id}}. {{burger_name}}. {{devoured}}
        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="id" value="{{this.id}}">
        </form>
      </p>
    {{!-- </li> --}}
  {{/each}}
{{!-- </ul> --}}
</div>

</div>
